{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

<script>

var comment_url = '/api/blogs/{{ blog.id }}/comments';    <!--创建评论的api请求，javascript语法-->

$(function () {    <!--jquery语法，等效于$(document),ready(function)-->
    var $form = $('#form-comment');    <!--#form-comment表示id=form-comment-->
    $form.submit(function (e) {    <!--如果按下提交按钮-->
        e.preventDefault();    <!--e为event对象，阻止元素发生默认的行为，这里阻止对表单的整个提交-->
        $form.showFormError('');    <!--见awesome.js-->
        var content = $form.find('textarea').val().trim();    <!--val方法返回或设置被选元素的值，trim()去掉字符串首尾空格-->
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {    <!--如果有内容，提交评论，利用comment_url调用api,保存comment记录， postJson定义见awesome-->
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>

{% endblock %}

    {% block header %}
    <header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="post-heading">
                        <h1>{{ blog.name }}</h1>
                        <span class="meta">发表于{{ blog.created_at|datetime }}</span>
                    </div>
                </div>
            </div>

        </div>
    </header>
    {% endblock %}

{% block content %}

    <div class="container">
        <article class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <p>{{ blog.html_content|safe }}</p>
            </div>
        </article>

        <hr class="uk-article-divider">

    {% if __user__ %}   <!--如果有用户登录,则显示评论-->
        <h3>发表评论</h3>

        <article class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ __user__.image }}">
                <h4 class="uk-comment-title">{{ __user__.name }}</h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">
    {% endif %}

        <h3>最新评论</h3>

        <ul class="uk-comment-list">
            {% for comment in comments %}
            <li>
                <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ comment.user_image }}">
                        <h4 class="uk-comment-title">{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</h4>    <!--显示评论作者-->
                        <p class="uk-comment-meta">{{ comment.created_at|datetime }}</p>
                    </header>
                    <div class="uk-comment-body">
                        {{ comment.html_content|safe }}    <!--显示评论内容-->
                    </div>
                </article>
            </li>
            {% else %}
            <p>还没有人评论...</p>
            {% endfor %}
        </ul>

    </div>


{% endblock %}
