{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>

function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            blogs: data.blogs,
            page: data.page    <!--获取页码，在底部用到-->
        }
        });
    $('#vm').show();
}

$(function() {    <!--文档就绪后即触发此函数-->
    getJSON('/api/blogs', {
        page: {{ page_index }}
    }, function (err, results) {    <!--收到的blogs存储在results中-->
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();    <!--隐藏id为loading的div-->
        initVM(results);
    });
});

</script>

{% endblock %}

{% block content %}


    <div id="vm" class="container">
        <div class="row">
        <table class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <tr v-repeat="blog: blogs" >
                    <td>
                        <h2><a target="_blank" v-attr="href: '/blog/'+blog.id" v-text="blog.name"></a></h2> <!--点击发送详细博客请求-->
                        <p class="post-meta"><span>Created at </span><span v-text="blog.created_at.toDateTime()"></span></p>
                        <p v-text="blog.summary"></p>     <!--点击发送详细博客请求-->
                    </td>
                </tr>
        </table>
        </div>
        <div v-component="pagination" v-with="page"></div>
    </div>

{% endblock %}
